*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}


h1,h2,h3{
    font-size: 2rem;
}
/* ------------------------------------------- */
nav{
    position: fixed;
    display: flex;
    height: 5rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #430000, #e40000);
    transition: .5s ease;
    z-index: 2;
    border-bottom: #fff 1px solid;

}

nav .logo{
    display: flex;
    position: absolute;
    top: 10px;
    left: 12rem;
    height: 60px;
    width: 250px;
    background: url(../img/logo.png) center center/cover;
}
nav ul{
    display: flex;
    position: absolute;
    right: 10rem;
}
nav li{
    margin-right: 3rem;
    list-style: none;
}
nav li .link{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    padding-bottom: 8px;
    border-radius: 2px;
    background: 
      linear-gradient(to right, #bfe3ff, #fff) 
        bottom /var(--d, 0) 2.5px
        no-repeat;
        transition:0.4s;
}
nav li .link:hover{
    --d: 100%;
}
nav li .link:active{
  transform: translateY(-4px);
}
nav .burger{
    display: none;
    position: absolute;
    cursor: pointer;
    top : 1.5rem;  
    right: 1rem ;
    padding: .5rem;
    border-radius: 50px;
    animation: burger_anim .5 ease;
}
nav .burger .bar{
    background: #fff;
    display: block;
    width: 25px;
    height: 2.5px;
    margin: 4px auto;
}
nav .close{
    display: none;
    position: absolute;
    cursor: pointer;
    top : 1.65rem;   
    right: 1rem ;
    padding: .5rem;
    border-radius: 50px;
}
nav .close .barClose{
    background: #fff;
    display: block;
    width: 25px;
    height: 2.5px;
    margin: 4px auto;
}



/* ------------------ABOUT------------------------- */
.about-container{
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 80%;
    margin: auto;
    padding-top: 80px;
    background: #a50000;
	animation-name: flipAnimation;
	animation-duration: 0.5s;
	animation-timing-function: ease;
    margin-bottom: 40px;
}
@keyframes flipAnimation{
	from{
		transform: scaleX(0);

	}
	to{
		transform: scaleX(1);
		
	}
	
}
.about-container .about-sub-container{
    display: flex;
    align-items: center;
    width: 70%;
    margin-bottom: 20px;
    border-radius: 50px;
    background: #fff;
}
.about-sub-container h2{
    text-align: center;
    font-size: 2rem;
    color: #000;
    width: 70%;
    padding: 20px;
    cursor: pointer;
    border-radius: 50px;
    flex-shrink: 4;
    transition: 0.5s linear;
}
.about-sub-container h2:active{
    transform: translateY(-4px);
    background: #002d52;
  }

.about-sub-container .active{
    background: #002d52;
    color: #fff;
    border-radius: 50px;
    flex-shrink: 1;
    
}
.about-container .desc-container{
    width: 80%;
    text-align: justify;
    padding-top: 20px;
    cursor: default;
}
.desc-container p{
    font-size: 2.5rem;
    color: #fff;
    transition: width 1 ease-in-out;
}
.team-container .header-container{
    width: 100%;
    background: #fff;
    margin-bottom: 30px;
}
.header-container h2{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 5px;
}
.header-container p{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
}
.header-container hr{
    width: 80%;
    height: 5px;
    margin: auto;
    background: #000;
    border-radius: 50%;
}
.profile-container{
    width: 80%;
    margin: auto;
    
}
details{
    width: 90%;
    margin: auto;
}
summary{
    cursor: pointer;
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}
details .sub-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}
.sub-container .profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.profile img{
    width: 150px;
    height: 170px;
}
.profile .name{
    font-weight: 900;
    font-size: 1rem;
}
.profile .resp{
    font-size: 0.8rem;
}



/* ---------------------Home---------------------- */

.con-home{
    display: flex;
    height: 100vh;
    width: 100%;
    /* background: linear-gradient(to right, rgb(32, 0, 92), rgb(187, 163, 233)); */
    background: url(../img/background.png)center center/cover;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: #000 solid 2px;
}
.con-home .container{
    margin-bottom: 5rem;
    width: 50%;
    animation: fadeIn 1.5s ease;
}
.col1, .col2{ 
    margin: 5rem 0rem;
    padding: 3rem;
    text-align: center;
}

/*  */
.col1 h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    margin-bottom: 10px;
    margin-top: 5.5rem;
    font-weight: bolder;

} 
.col1 p{
    margin-top: 1rem;
    font-size: 1rem;
    animation: transitionIn 2.5s ease;
}
.col1 button{
    font-weight:bolder;
    margin: 2rem;
    height: 3.5rem;
    width: 10.5rem;
    background: #da0000;
    cursor: pointer;
    border-radius: 5px;
    transition: .4s ease-in-out;
    box-shadow: 4px 4px 1px rgb(193, 193, 193);
    border-radius: 35px;
}
.col1 button a{
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
}
.col1 button:hover{
    width: 11.6rem;
    background: #002d52;
}
/*  */
.col2 img{
    max-width: 585px;
}
.col2 p{
    margin-top: 2rem;
    font-size: 1rem;
    animation: transitionIn 2s ease;
}
.col2 p span{
    color: #e40000;
}
.sec2-nav{
    display: flex;
    position: absolute;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
    bottom: 1%;
	width: 100%;
    animation: transitionIn 2s ease;
}
.sec2-nav a{
    font-size: 1.4rem;
    color: #e40000;
    text-decoration: none;
    transition: .5s ease;
}
.sec2-nav:hover a{
    font-size: 1.55rem;
    color: #005eab;
}

/* section 2 */
#section2{
    display: flex;
    flex-direction: column;
    height: 100vh;
    animation: fadeIn 1s ease;
}
.section2-title{
    margin-top: 6rem;
    text-align: center;
}


/* section 3 */
#section3{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    border-top: #000 2px solid;
    animation: fadeIn 1s ease;

}


/* ----------------FORM--------------------------- */

  
.formBody{
    justify-content: center;
    align-content: center;
    animation: fadeIn 1s ease;
    background: rgb(237, 237, 237);
}
.formBody .name{
    margin-top: -10px;
    text-align: center;
    padding: 10px;
    /* background: rgba(0,0,0,0.2); */

}
 .con-form{
	display: grid;
	grid-template-columns: repeat(5, minmax(200px,1fr));
    grid-column-gap: 10px;
    padding: 30px;
	width: 100%;
    justify-content: center;
    align-items: center;
    animation: transitionIn 1.5s ease;
    
}
 .requirements{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-bottom: 10px;
    padding-top: 90px ;
    border-bottom: 2px solid rgb(255, 255, 255);
    background: #fff;
    color: #000;
}
.requirements h2{
    width: 40%;
    text-align: center;
    text-transform: capitalize;
    font-size: 2.5rem;
    border-bottom: 2px solid #002441;
    border-radius: 10%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    
}
.requirements ul{
    width: 60%;
    margin:auto;
    margin-bottom: 30px;    

}
.requirements ul li{
    list-style: circle;
    font-size: 1.2rem;
}

.con-form .form{
	position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
	width: 100%;
    margin-bottom: 20px;
}

.form .form-name{
	position: absolute;
	display: block;
	bottom: 0;
	width: 100%;
	height: 3rem;
	color: #000;
	letter-spacing: 1px;
	font-weight: bold;
	text-align: center;
	/* text-transform: uppercase; */
	padding-top: 0.75rem;
	font-size: 18px;
    background: rgba(107, 107, 107, 0.5);
    text-decoration: underline;
}
.form .download{
	position:absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 2rem;
	color: #fff;
	text-shadow: 0 0 3px #fff;
	background: rgba(0,0,0,0.5);
	margin-bottom: 3rem;
	opacity: 0;
	text-decoration: none;
	transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
	
}

.form .download:hover{
	opacity: 1;

}

.form img{
	width: 100%;
	height: 100%;
	border: 6px solid rgba(0,0,0);
}





/* -------------------Contact------------------------ */
.contact{
    display: flex;
    height: 100vh;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1s ease;
}
.con-left, .con-right{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


/* con-left */
.con-left{
    display: flex;
    flex-direction: column;
    width: 45%;
    background: linear-gradient(to right, #430000, #a50000);
    border-top-right-radius: 65%;
    border-bottom-right-radius: 65%;
    padding-left: 2rem;
    animation: toRight 1.2s ease;
}
.con-left h2{
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: .5rem;
}
.con-left p{
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #fff;
}
.con-left ul{
    margin-bottom: 2rem;
}
.con-left ul li{
    margin: 1rem;
    list-style: none;
}
.con-left ul li a{
    font-size: 1.2rem;
    margin-left: 10px;
    color: #fff;
}



/* con-right */
.con-right{
    width: 55%;
}
.contact-sec{
    width: 70%;
}
.contact-sec .contact-title{
    position: relative;
	text-align: center;
	margin-top: 20px;
}

.contact-title h2{
	font-size: 1.8rem;
	color: rgb(0, 0, 0);
}

.contact-sec .contact-form{
    width: 100%;
    margin: auto;
}

.contact-form .contact-subcon{
    display: flex;
    flex-direction: column;
	width: 100%;

}
.contact-subcon .con-input{
    display: flex;
    margin-top: 20px;   
}
.con-input input{
    display: flex;
    width: 100%;
	height: 45px;
    background: linear-gradient(to right, #004882, #005eab);
	border: 2px inset #F0F8FF;
	padding-left: 20px;
	border-radius: 5px;
	font-size: 16px;
	color: #fff;
	outline: none;
}
.con-input .form-name{
    margin-right: .5rem;
}
.con-input .form-email{
    margin-left: .5rem;
}

.contact-subcon textarea{
	margin-top: 20px;
	width: 100%;
	height: 30vh;
    background: linear-gradient(to right, #004882, #005eab);
	color: #fff;
	border: 2px inset #F0F8FF;
	border-radius: 5px;
	font-size: 16px;
	outline: none;
	padding: 10px;
	letter-spacing: 1px;
}
.contact-subcon label{
    color: #e40000;
}
.contact-form .con-button{
	display: flex;
    justify-content: center;
    align-items: center;
	width: 100%;
}
.con-button button{
    font-weight:600;
    background: #bd0000;
    color: #fff;
	border: 2px inset #F0F8FF;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 35px;
    transition: .6s ease;
    box-shadow: 4px 4px 1px rgb(193, 193, 193);
    border: none;
}
.con-button button:hover{
	background: #002d52;
}
/* ------------------------------------------- */
.nopage{
    display: flex;
    border-style: solid;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
/* ------------------------------------------- */
footer{
    display: flex;
    background: rgb(220, 220, 220);
    height: 12vh;
    align-items: center;
    justify-content: center;
}
footer p{
    font-size: 12px;
}

footer .footerLogo{
    position: absolute;
    right: 5%;
    opacity: .2;
}

/*  Key Frames */

@keyframes toLeft{
    0% {opacity: 0; transform:translateX(12rem);}
    50% {opacity: 0; transform:translateX(12rem);}
    100% {opacity: 1; transform:translatX(0px); }
}
@keyframes toRight{

    0% {opacity: .5; transform:translateX(-18rem);}
    100% {opacity: 1; transform:translateX(0px); }
}


@keyframes transitionIn{
    0% {opacity: 0; transform:translateY(-12px);}
    20% {opacity: 0; transform:translateY(-12px);}
    100% {opacity: 1; transform:translateY(0px); }
}

@keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
}


@media(max-width: 1280px){
    nav ul{
        display: none;

    }
    nav .burger {
        display: block;
        
    }
    nav .logo{
        left: 2rem;
    }
    .nav_active{
        height: 100vh;
        transition: .5s;
        justify-content: center;
    }
    .nav_active ul{
        display: block;
        right: unset;
        text-align: center;
    }
    .nav_active ul li{
        margin: 5rem;
        animation: fadeIn 1.5s ease;
    }
    .nav_active ul li .link{
        font-size: 16px;
        font-weight:bold;
    }

    .nav_active .burger{
        display: none;
    }
    .nav_active .close{
        display: block;
    }
    

/* ------------------------------------------- */

    .con-home .container{
        height: 50%;
        width: 100%;
    }
    .con-home .container h2{
        margin-top: .5rem;
        font-size: 2rem;
    }
    .con-home button{
        height: 2rem;
        width: 8rem;
    }
    .con-home button a{
        font-size: large;
    }
    .con-home .col2{
        margin-top: 0%;
    }
    .con-home .col2 img{
        display: none;
    } 
    .con-home .sec2-nav a{
        font-size: 1rem;
    }
    .con-home .sec2-nav a:hover{
        font-size: 1.5rem;
    }
    
/* ------------------------------------------- */
    .body .name{
        font-size: 1.5rem;
    }
    .con-form{
        grid-template-columns: repeat(2, minmax(100px,1fr)); 
    }
    .form .form-name{
        font-size: .8rem;
    }
    .form .download{
        font-size: 1rem;
    }
    .requirements h2{
        font-size: 1.5rem;
        width: 80%;
        margin: 10px auto;
    }
    .requirements ul li{
        font-size: 0.8rem;
    }
}