/* --------mobile view------- */
@media(max-width: 1280px){
    nav ul{
        display: none;
    }
    nav .burger {
        display: block;
        
    }
    nav .logo{
        left: 2rem;
    }
    .nav_active{
        height: 100vh;
        transition: .5s;
        justify-content: center;
    }
    .nav_active ul{
        display: block;
        right: unset;
        text-align: center;
    }
    .nav_active ul li{
        margin: 5rem;
        animation: fadeIn 1.5s ease;
    }
    .nav_active ul li .link{
        font-size: 16px;
        font-weight:bold;
    }

    .nav_active .burger{
        display: none;
    }
    .nav_active .close{
        display: block;
    }


/* ------------------------------------------- */

    .con-home{
    }
    .con-home .container{
        width: 100%;
        flex-direction: column;
    }
    .con-home .container h2{
        margin-top: 16%;
        font-size: 2.4rem;
    }
    .con-home button{
        height: 2rem;
        width: 8rem;
    }
    .con-home button a{
        font-size: large;
    }
    .con-home .col2{
        padding: 1rem 2rem;
    }
    .con-home .col2 img{
        display: none;
    } 
    .con-home .sec2-nav a{
        font-size: 1rem;
    }
    .con-home .sec2-nav a:hover{
        font-size: 1.5rem;
    }


    /* section2 */
    #section2{
        height: 165%;
        margin: 1rem;
    }
    #section2 .container{
        flex-direction: column;
    }

    #section2 ul li{
        font-size: .8rem;
    }
    #section2 p{
        font-size: .8rem;
        line-height: 1.5rem;
        margin: 1rem 8% 0 8%;
    }

    /* Section3 */
    #section3{
        height: 190%;
    }
    #section3 .container{
        flex-direction: column;
    }
    #section3 .col,  #section3 .col-1{
        margin: 2rem;
    }
    #section3 img{
        width: 350px;
    }
    #section3 .computation{
        margin: 1rem 2.5rem;
    }


/* -----------------form-------------------------- */
    .con-form{
        grid-template-columns: repeat(2, minmax(100px,1fr)); 
    }
    .form .form-name{
        font-size: .8rem;
    }
    .form .download{
        font-size: 1rem;
    }
    .requirements h2{
        font-size: 1.5rem;
        width: 80%;
        margin: 10px auto;
    }
    .requirements ul li{
        font-size: 0.8rem;
    }
    .requirements .req-con{
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
    }
    .req-con div h3{
        text-align: center;
        width: 100%;
    }
    .req-con div ul li p{
        font-size: 0.8rem;
        text-align: center;
    }
    .desc-container p{
        font-size: 1.5rem;
        overflow-y: auto;
    }
    .header-container h2{
        font-size: 2rem;
    }
    .header-container p{
        font-size: 1.2rem;

    }
    details summary{
        font-size: 1rem;
    }
    details .sub-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .about-container .about-sub-container{
        width: 80%;
    }
    .about-sub-container h2{
        font-size: 1.5rem;
        padding: 10px;
    }

/* ---------------------- */
    .contact{
        height: 100vh;
    }
    .contact .con-left, .contact .con-right{
        width: 100%;
    }
    .con-left h2{
        font-size: 2rem;
        margin-bottom: .5rem;
    }
    .con-left p{
        font-size: 1rem;
        margin-bottom: 2rem;
    }
    .con-left ul li{
        margin: 1rem;
        list-style: none;
        color: #fff;
        font-size: 1rem;
    }

}